#left {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50%;
  height: 100%;
  background: #fefafa;
  z-index: -1;
}
body {
  background: #eeeded;
}
#svg {
  position: absolute;
  top: 0px;
  height: 100%;
}

#bigger {
  position: absolute;
  top: 150px;
  left: 100px;
  height: 200px;
  width: 200px;
  background: red;
  border-radius: 50%;
  transform: all linear 0.5s;
}

#dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  display: none;
  transition: all linear 0.5s;
}

#dotContainer {
  position: absolute;
  display: block;
}

input:focus {
  background-color: transparent;
}

.signIn {
  border-width: 0px 0px 1px 0px;
  border-color: white;
  background: transparent;
  left: 30px;
  color: white;
  position: absolute;
  font-size: 1rem;
  outline: none;
  font-family: verdana;
  box-shadow: none;
  display: none;
}

#signIn {
  top: 40px;
  left: 80px;
  font-size: 1.2rem;
}
#email2 {
  top: 80px;
  background: transparent;
  width: 175px;
}
#password2 {
  top: 120px;
  width: 175px;
}
#submit2 {
  top: 165px;
  left: 130px;
  border-width: 0px;
  padding: 5px 5px 5px 5px;
  font-size: 1.2rem;
  color: #40a932;
  transition: all linear 0.3s;
}

#underSubmit2 {
  position: absolute;
  top: 150px;
  left: 125px;
  width: 80px;
  height: 50px;
  border-radius: 50% 60% 40% 50%;
  background: white;
  transform: rotate(15deg);
  transition: all linear 0.7s;
  display: block;
}

.signIn:-webkit-autofill,
.signIn:-webkit-autofill:hover,
.signIn:-webkit-autofill:focus {
  /* border: 0px solid blue; */
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #f58a0c inset;
}

.signIn::placeholder {
  color: white;
  position: absolute;
  background: transparent;
  left: 5px;
  font-size: 1rem;
  opacity: 0.8;
}

.signUp {
  border-width: 0px 0px 1px 0px;
  border-color: white;
  background: transparent;
  left: 60px;
  width: 300px;
  color: white;
  position: absolute;
  font-size: 1rem;
  outline: none;
  font-family: verdana;
  display: none;
  transition: all linear 0.3s;
}

.signUp:-webkit-autofill,
.signUp:-webkit-autofill:hover,
.signUp:-webkit-autofill:focus {
  /* border: 0px solid blue; */
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #324ea9 inset;
}

.signUp::placeholder {
  color: white;
  position: absolute;
  left: 5px;
  font-size: 1rem;
  opacity: 0.8;
}
#signUp {
  top: 40px;
  left: 120px;
  font-size: 1.2rem;
}
#userName {
  top: 120px;
  width: 175px;
}
#email {
  top: 80px;
  width: 175px;
}
#password {
  top: 160px;
  width: 175px;
}
#password3 {
  top: 200px;
  width: 175px;
}
#submit {
  top: 245px;
  left: 168px;
  font-size: 1.2rem;
  width: 100px;
  border: 0px;
  color: #40a932;
  padding: 5px 5px 5px 5px;
  transition: all linear 0.3s;
}

#underSubmit {
  position: absolute;
  top: 235px;
  left: 178px;
  width: 78px;
  height: 50px;
  border-radius: 50% 60% 40% 50%;
  background: white;
  transform: rotate(15deg);
  transition: all linear 0.7s;
  display: block;
}

#signInPart {
  display: none;
}
#signUpPart {
  display: none;
}

#aboutPart {
  background: transparent;
  left: 60px;
  border-radius: 10%;
  color: white;
  position: absolute;
  font-size: 1rem;
  outline: none;
  font-family: verdana;
}

#about {
  position: absolute;
  top: 20px;
  left: 50px;
  font-size: 1.2rem;
}

#text {
  position: absolute;
  top: 70px;
  left: -50px;
  width: 250px;
  text-indent: 10px;
  text-align: center;
}
#text2 {
  position: absolute;
  top: 160px;
  left: -50px;
  width: 280px;
  text-indent: 10px;
  text-align: left;
  font-size: 0.9rem;
}

#close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-family: verdana;
  font-size: 1rem;
  padding: 2px 5px 3px 7px;
  border-radius: 50%;
  color: white;
  text-align: middle;
  transition: all linear 0.3s;
}

#close:hover {
  transform: rotate(180deg);
}
